
body {
  font-family: sans-serif;
  background: #f9f9f9;
  padding: 2em;
}
input, button {
  padding: 10px;
  margin: 10px 0;
}
canvas {
  display: none;
}
pre {
  background: #fff;
  padding: 1em;
  border: 1px solid #ccc;
  white-space: pre-wrap;
}
